#root {
  max-width: 1280px;
  /* margin: 0 auto; */
  padding: 2rem;
  /* background-color: hsl(20, 50%, 98%); */
  /* color: black; */
  /* text-align: center; */
}

.body-container {
  text-align: left;
}


